<div class="shadow-corner-curl hidden-xs">
      <div class="categories-list-header">
        热门文章
      </div>

 <ul class="list-unstyled">
      	<li><a href="http://theory.people.com.cn/n1/2020/0713/c40531-31781155.html" class="categories-list-item">到祖国最需要的地方绽放青春</a></li>	
		<li><a href="http://cpc.people.com.cn/n1/2020/0708/c64104-31775860.html" class="categories-list-item">支教助力，让明天更美好</a></li>
		<li><a href="http://health.people.com.cn/n1/2019/0805/c14739-31276599.html" class="categories-list-item">从“输血”到“造血”</a></li>
		<li><a href="https://www.sohu.com/a/405456325_114731?_trans_=000014_bdss_dkamhg" class="categories-list-item">跨越山海的深情永不褪色</a></li>
		<li><a href="https://baijiahao.baidu.com/s?id=1670249590940005397&wfr=spider&for=pc" class="categories-list-item">大山深处的体育“课”</a></li>
		<li><a href="http://www.xinhuanet.com/mil/2020-06/08/c_1210650853.htm" class="categories-list-item">祖国最北小学，来了清华“兵老师”</a></li>
		<li><a href="http://www.xinhuanet.com/2020-05/31/c_1126056370.htm" class="categories-list-item">决战贫困——教育扶贫这五年</a></li>
		<li><a href="http://edu.people.com.cn/n1/2020/0120/c1053-31556753.html" class="categories-list-item">最贫瘠的地方开出希望之花</a></li>

     </ul>
</div>
