          <ul class="nav navbar-nav">
            <li>
              <a href="/categories.html">
                项目 简介
              </a>
            </li>
            <li>
              <a href="/tags.html">
                服务 模式
              </a>
            </li>
            <li>
              <a href="/archives.html">
                四种 分析
              </a>
            </li>
            <li>
              <a href="/faqs.html">
                问题 回答
              </a>
            </li>
            <li>
              <a href="/about.html">
                团队 介绍
              </a>
            </li>
          </ul>