          <ul class="nav navbar-nav">
            <li>
              <a href="/categories.html">
               产品售卖 
              </a>
            </li>
            <li>
              <a href="/tags.html">
                招募募捐
              </a>
            </li>
            <li>
              <a href="/archives.html">
                义卖活动
              </a>
            </li>
            <li>
              <a href="/about.html">
                联系我们
              </a>
            </li>
          </ul>